@font-face {
  font-family: "Roboto";
  src: url("../../vendor/fonts/roboto-400-regular.woff2") format("woff2"),
    url("../../vendor/fonts/roboto-400-regular.woff") format("woff");
}

/* App styles */
.app {
  font-family: "Roboto", sans-serif;
  background-color: #d1d2d6;
}

.app__content {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
}

/* Responsive styles for Tablet */
@media (max-width: 1279px) {
  .app__content {
    max-width: 768px;
  }
}

/* Responsive styles for Mobile */
@media (max-width: 768px) {
  .app__content {
    max-width: 320px;
  }
}
