/* Search Form styles */
.search__form {
  position: relative;
  width: 608px;
  margin: 0 auto;
}

.search__form input[type="text"] {
  width: 100%;
  padding: 0 180px 0 24px;
  border-radius: 100px;
  border: 1px solid #d1d2d6;
  height: 64px;
  font-size: 16px;
  box-sizing: border-box;
}

.search__form button {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 0 56px;
  border-radius: 100px;
  background: #2f71e5;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  height: 64px;
  width: 168px;
  display: flex;
  align-items: center;
}

/* Responsive styles for Tablet */
@media (max-width: 768px) {
  .search__form {
    width: 100vw;
    padding: 0 8px;
  }
  .search__form input[type="text"] {
    padding: 0 24px 0 16px;
    height: 48px;
    font-size: 15px;
  }
  .search__form button {
    padding: 0 24px;
    font-size: 15px;
    height: 48px;
    width: 120px;
  }
}

/* Search styles for Mobile */
@media (max-width: 320px) {
  .search__form {
    width: 100vw;
    padding: 0 2px;
  }
  .search__form input[type="text"] {
    padding: 0 8px 0 4px;
    height: 32px;
    font-size: 11px;
  }
  .search__form button {
    padding: 0 8px;
    font-size: 11px;
    height: 32px;
    width: 60px;
  }
}