.header__nav {
  display: flex;
  align-items: center;
  gap: 42px;
}

.header {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  background: transparent;
  z-index: 10;
  display: flex;
  height: 79px;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header__logo {
  height: 24px;
  margin: 10px 0 0 104px;
}

.header__home-btn {
  background: none;
  border: none;
  color: #fff;
  padding: 0;
  margin: 10px 0 0 0;
  font-weight: 500;
  cursor: pointer;
}

.header__signin-btn {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 100px;
  padding: 0;
  margin: 10px 104px 0 0;
  font-weight: 500;
  cursor: pointer;
  height: 48px;
  width: 176px;
  cursor: pointer;
}


