/* Footer styles */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 104px 0 104px;
  height: 80px;
  background: #fff;
  flex-wrap: wrap;
}

.footer__text {
  font-size: 16px;
  color: #b6bcbf;
  margin: 0;
}

.footer__button-grp {
  display: flex;
  gap: 16px;
}

.footer__button-grp button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #1a1b22;
}

.footer__button-grp img {
  width: 24px;
  height: 24px;
}

.footer__button-grp a {
  text-decoration: none;
}

/* Responsive styles for Tablet */
@media screen and (max-width: 1023px) {
  footer {
    max-width: 1023px;
    height: 64px;
    padding: 0 40px;
  }
  .footer__text {
    font-size: 16px;
  }

  .footer__home-btn,
  .footer__tripleten-btn {
    margin-right: 40px;
  }

  .footer__github-btn {
    margin-right: 24px;
  }

  .footer__button-grp {
    gap: 0;
  }

  .footer__button-grp button {
    font-size: 18px;
  }
}

/* Responsive styles for Mobile */
@media screen and (max-width: 420px) {
  footer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    max-width: 320px;
    height: auto;
    padding: 20px 16px 22px 16px;
    margin: 0;
  }

  .footer__button-grp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 38px;
  }

  .footer__button-grp-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 74px;
  }

  /* Make the second column (GitHub/LinkedIn) a row in mobile view */
  .footer__button-grp-col:nth-child(2) {
    flex-direction: row;
    align-items: center;
    height: auto;
  }

  .footer__home-btn,
  .footer__tripleten-btn {
    width: 80px;
    text-align: left;
  }

  .footer__github-btn,
  .footer__linkedin-btn {
    width: 32px;
    align-self: flex-end;
  }
}
