/* Footer styles */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 104px 0 104px;
  height: 80px;
  background: #fff;
  flex-wrap: wrap;
}

.footer__text {
  font-size: 16px;
  color: #b6bcbf;
  margin: 0;
}

.footer__button-grp {
  display: flex;
  gap: 16px;
}

.footer__button-grp button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #1a1b22;
}

.footer__button-grp img {
  width: 24px;
  height: 24px;
}

.footer__button-grp a {
  text-decoration: none;
}

/* Responsive styles for Tablet */
@media (max-width: 768px) {
  footer {
    max-width: 768px;
    height: 64px;
    padding: 0 40px;
  }
  .footer__text {
    font-size: 16px;
  }
  
  .footer__home-btn, 
  .footer__tripleten-btn {
    margin-right: 40px;
  }

  .footer__github-btn {
    margin-right: 24px;
  }

  .footer__button-grp {
    gap: 0;
  }

  .footer__button-grp button {
    font-size: 18px;
  }
}

/* Responsive styles for Mobile */
@media (max-width: 320px) {
  footer {
    padding: 0 2px;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }

  .footer__text {
    font-size: 11px;
  }

  .footer__button-grp {
    gap: 2px;
  }
  
  .footer__button-grp button {
    font-size: 11px;
  }
}


