@font-face {
  font-family: "Inter";
  src: url(../../vendor/fonts/inter-400-regular.woff2) format("woff2"),
    url(../../vendor/fonts/inter-400-regular.woff) format("woff");
}

/* Error message styles */
.modal__error-login-email {
  color: #ff0000;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  padding-top: 3px;
  display: block;
  text-align: left;
}


